@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
}


/* shared */
 .btn{
    display: flex;
    align-items: center;
    gap:4px;
    border-radius: 1.25rem;
    padding: 0.75rem 1rem ;
    background: linear-gradient(#9100F8,#FB09B4,#F7E93F);
    color: white;
    font-weight:500;
    font-size: 16px;
    cursor: pointer;
    border: none;
 }

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

header {
    padding-top: 24px;
    background-color: #1A0B2E;
}

 nav{
    width: 1200px;
    margin:0px auto;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
    align-items: center;
    margin-bottom: 1.5rem;
 }
 nav .menu ul{
    display: flex;
    gap: 2rem;
    list-style-type: none;
 }
 nav .menu ul a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: normal;
    cursor: pointer;
 }
 nav .logo img{
    width: 13.6875rem;
    height: 2rem;
 }
 hr{
    opacity: 15%;
 }

 #hero{
    background: url("assets/hero-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 6.3125rem;

 }
 #hero .hero-container{
    width: 1200px;
    margin: 0px auto;
    /* border: 1px solid yellow; */
 }

 #hero .hero-container .pic{
    /* border: 1px solid green; */
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
 }

#hero .hero-container .pic .mic{
    position: absolute;
}
#hero .hero-container .info{
    text-align: center;
}
#hero .hero-container .info h1{
    font-size: 3.75rem;
    color: white;
    margin-bottom: 0.75rem;
}
#hero .hero-container .info p{
    font-size: 1rem;
    color: white;
    margin-bottom: 1.5rem;
    font-weight: 200;
}
#hero .hero-container .info .hero-btn{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    gap:0.5rem;
}
#hero .hero-container .info .hero-btn #hero-btn2{
    background: transparent;
    border: 2px solid #00FF88;
    color: #00FF88;
    padding: 0.75rem,1.25rem;
}

#about-section{
    background-color: #1A0B2E;
    padding-top: 6.3125rem;
    /* border: 1px solid blanchedalmond; */
}
#about-section .about-container{
    width: 1200px;
    margin: 0px auto;
    text-align: center;
    color: white;
    /* border: 1px solid aqua; */
}
#about-section .about-container h1{
    font-size: 3rem;
    margin-bottom: 1rem;
}
#about-section .about-container p{
    font-size: 1rem;
    line-height: 1.25rem;
    font-weight:200;
    opacity: 80%;
}


#review-section{
    padding-top: 5rem;
    background-color: #1A0B2E;
    color:white;
    padding-bottom: 7.5rem;
}
#review-section .review-container{
    width: 1200px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}
#review-section .review-container .info{
    text-align: center;
}

#review-section .review-container .info h1{
    font-size: 3rem;
    font-weight: bolder;
    color: #00FF88;
    margin-bottom: 1rem;
}
#review-section .review-container .info p{
    font-size: 1rem;
    font-weight: 200;
}

#aboutTechWave-section{
    background-color: #230E3D;
    padding-top: 7.5rem;
}
#aboutTechWave-section .aboutTechWave-container{
    width: 1200px;
    margin: 0px auto;
}

/* ---------------------------------- */
#aboutTechWave-section .aboutTechWave-container>*{
    background-color: rgba(64, 20, 122, 0.4);
    color: white;
}
#aboutTechWave-section h1{
    display: flex;
    justify-content: center;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 2.5rem;
}


#Premium{
    grid-area: Premium;

    padding: 6.6875rem 2.5rem ;
    border-radius: 2.5rem;
}
#Premium img{
    width: 3.125rem;
    height: 3.125rem;
    margin-bottom: 1rem;
}
#Premium h2{
    font-size: 24px;
    margin-bottom: 1rem;
}
#Premium p{
    font-size: 1rem;
    font-weight: 200;
}



#Mobile{
    grid-area: Mobile;

}
#Global{
    grid-area: Global;  
}
#Exclusive{
    grid-area: Exclusive; 
}
#Rich{
    grid-area: Rich;
}


.review-info-style{
    padding:  2.5rem ;
    background-color: rgba(64, 20, 122, 0.4);
    border-radius: 2.5rem;
}
.review-info-style img{
    width: 3.125rem;
    height: 3.125rem;
    margin-bottom: 1rem;
}
.review-info-style h2{
    font-size: 24px;
    margin-bottom: 1rem;
}
.review-info-style p{
    font-size: 1rem;
    font-weight: 200;
}


#Mobile img{
    width: 2.5rem;
    height: 3.125rem;
    margin-bottom: 1rem;
}

#aboutTechWave-section .aboutTechWave-container{
    display: grid;
    gap:20px;
    grid-template-areas: 
    "Premium Mobile Mobile"
    "Premium Global Global"
    "Exclusive Exclusive Rich"
}






#features-section{
    background-color: #1A0B2E;
    padding-top: 7.5rem;
    color: white;
}
#features-section h1{
    display: flex;
    justify-content: center;
    font-size: 3rem;
    margin-bottom: 2.5rem; 
}
#features-section .features-container{
    width: 1200px;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    gap: 1.875rem;
}
#features-section .features-container .feature-card{
    background-color: #250D44;
    width: 23.75rem;
    height: 27.5rem;
}
#features-section .features-container .feature-card .info{
    padding:1.5rem;
}
#features-section .features-container .feature-card .info h2{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.75rem;
}
#features-section .features-container .feature-card .info p{
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 200;
    margin-bottom: 0.75rem;
}
#features-section .features-container .feature-card .info .time{
    display: flex;
    align-items: center;
    gap: 0.375rem;
}



#host-section{
    background-color:#1A0B2E;
    color: white;
    padding-top: 7.5rem;

}
#host-section h1{
    display: flex;
    justify-self: center;
    font-size: 3rem;
    margin-bottom: 2.5rem;
}
#host-section .host-container{
    box-sizing: border-box;
    width: 1200px;
    margin: 0px auto;
    /* border: 1px solid red; */
    background-color:#250D44;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.5rem;
    gap: 1.5rem;
}
/* .host-img{
    border:1px solid aqua;
} */
/* #host-section .host-container .info{
    border: 1px solid gold;
} */

#host-section .host-container .info h2{
    font-size:2rem;
    font-weight: bold;
    margin-bottom: 1rem; 
}
#host-section .host-container .info p{
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 200;
    margin-bottom: 1rem;
}
#host-section .host-container .info .social-img img{
    width: 1.2rem;
    height: 1.2rem;
  border: 1px solid rgb(92, 90, 90);
  border-radius: 50%;
  gap: 1rem;
  padding:0.2rem;
  cursor: pointer;
}